<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- basic styles -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />

    <!--[if IE 7]>
        <link rel="stylesheet" href="../css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- ace styles -->

    <link rel="stylesheet" href="../css/ace.min.css" />
    <link rel="stylesheet" href="../css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../css/ace-skins.min.css" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <style>
        .chapter-content {
            font-size: 16px;
            font-family: 微软雅黑;
            width: 85%;
            letter-spacing: 0.2em;
        }
    </style>
</head>
<body style="background-color: #ffffff">
    <div class="main-container">
        <div class="page-content">

            <p class="chapter-content _chapter_content">
            </p>
            <div class="row">
                <ul class="_error_message">
                    <li>sssss</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/typeahead-bs2.min.js"></script>
    <script src="../Scripts/Json-2.js"></script>
    <script src="../Scripts/ace.min.js"></script>
    <script src="../Scripts/InvokeMethod.js"></script>
    <script type="text/javascript">
        function load_chapter_content(args) {
            $('._chapter_content').html(args);
        }
        
        function show_message(msg, style) {
            $('._error_message')
                .append('<li class="text-' + style + '"><label>' + msg + '</label></li>');

            $("html,body").stop(true);
            $("html,body").animate({ scrollTop: $("._error_message>li:last").offset().top }, 1000);
        }

        $(function () {
            
        })
    </script>
</body>
</html>